@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

.twitter-typeahead {
    display: block !important; /* hack */
    width: 100%;
}

.tt-dropdown-menu {
    top: 35px !important; /* hack */
}

.tt-dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.col-md-4 {
    margin: 10px 0;
}

.mirmark-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.foot-note {
    font-size: 13px;
}