@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

.twitter-typeahead {
    display: block !important; /* hack */
    width: 100%;
}

.tt-dropdown-menu {
    top: 35px !important; /* hack */
}

.tt-dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    margin: 10px 0;
}

.mirmark-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.foot-note {
    font-size: 13px;
}

.site-level-canvas {
}

.site-level-panel {
    overflow: hidden;
    padding: 10px 0 10px 0;
    width: 100%;
    display: block;
}

.site-level-panel.hidden {
    transition: height 0.25s;
    display: none;
}