.twitter-typeahead {
    display: block !important; /* hack */
    width: 100%;
}

.tt-dropdown-menu {
    top: 35px !important; /* hack */
}

.tt-dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.input-group {
    margin: 10px 0;
}

